{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/ProductController.php'|file_link(0) }}">src/Controller/ProductController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/product/index.html.twig'|file_link(0) }}">templates/product/index.html.twig</a></code></li>
    </ul>
    New Products inserted in to database
    <ul>
        <li>new product id is {{ new_product_id }}</li>
    </ul>
    Products details in database
    <ul>
        <li>product id is {{ product.id }}</li>
        <li>product name is {{ product.name }}</li>
        <li>product price is {{ product.price }}</li>
    </ul>
    All Products details in database
    {% for product in all_products  %}
    <ul>
        <li>product id is {{ product.id }}</li>
        <li>product name is {{ product.name }}</li>
        <li>product price is {{ product.price }}</li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
